* {
/*	margin: 0;*/
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	background-color:  #0a192f;

}

 html {
    width: 100%;
    scroll-behavior: smooth;
  }

/* Navbar */


.web {
	color: #64ffda;
}



nav ul li a  {
	font-size: 14px;
	color: #ccd6f6 !important;
	
}

nav ul li a:hover {
	color: #64ffda !important ;
}

.resume {
  border-radius: 5px !important;
  border-color: #64ffda; 
}

.btn-flip {
  opacity: 1;
  color: #64ffda; 
  font-size: 13px;
  line-height: 40px;
  position: relative;
  background-color: transparent !important;
  display: inline-block;

}

.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  display: block;
  transition: 0.5s;
  position: absolute;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  display: block;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background-color: transparent !important;
  content: attr(data-front);
  text-decoration: none;
  color: #64ffda;
  transform: translateY(0) rotateX(0);
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 0px;
  padding-bottom: 0px;

}



/* landing page */

@media screen and (min-width: 768px) and (max-width: 1375px) {
  .main {
    margin-left: 130px !important;
  }
}

.main h5{
	margin-top: 270px ;
  display: flex;
  flex-direction: column;
  color: #64ffda;
  font-size: 15px;
  letter-spacing: 1.5px;
 
}

@media screen and (max-width: 667px) {
  .main h5 {
    margin-top: 130px;
    font-size: 20px;
   
  }
}

.main h1{
    display: flex;
    flex-direction: column;
    color: #ccd6f6;
    font-family: 'Inter', sans-serif;
    font-size: 4.5em;
    font-weight: bolder;
    letter-spacing: 1.5px;
 
}

@media screen and (max-width: 667px) {
  .main h1 {
    font-size: 2.8em;

  }
}

.main h2{
    display: flex;
    flex-direction: column;
    color: #8892b0;
    font-family: 'Inter', sans-serif;
    font-size: 4em;
    font-weight: bolder;
    letter-spacing: 1.5px;
 
}

@media screen and (max-width: 667px) {
  .main h2 {
    font-size: 1.7em;
    margin-top: 5px !important;

  }
}


.main p {
  color: #8892b0;
  font font-family: 'Inter', sans-serif;
}


@media screen and (max-width: 667px) {
  .main p {
    font-size: 1.1em;
    margin-top: 25px !important;

  }
}



.main p span {
  color: #64ffda;
  font-weight: bold;
}

.main button {
  margin-top: 35px;
  margin-bottom: 300px;
  padding: 15px;
  font-size: 18px;
  color: #64ffda;
  border-color: #64ffda;;
}

.main button a {

  list-style-type: none;
  text-decoration: none;
  color: #64ffda;
}

.social-icon ul {
  list-style-type: none;
}

.social-icon i {
  color: #8892b0;
}

.social-icon {
    position: fixed;
    top: 70%; /* Adjust the top position as needed */
    transform: translateY(-50%);
/*    right: 20px; /* Adjust the right position as needed */
    z-index: 999; /* Adjust the z-index value if necessary */
}

.social-icon i:hover {
  color: #64ffda !important;
}



/*About me*/



/*#about {
  height: 70vh;

}*/

@media screen and (max-width: 667px) {
  #about .row {
    margin-left: 0px !important;

  }
}

@media screen and (max-width: 667px) {
  #about .image {
    border: none !important;

  }
}


#about h5{
    color: #ccd6f6;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

@media screen and (max-width: 667px) {
  #about h5 {
    font-size: 2em;
    margin-top: 0px !important;
    margin-bottom: 25px !important;

  }
}


#about p {
  color: #8892b0;
  font font-family: 'Inter', sans-serif;
  font-size: 19px;
}

@media screen and (max-width: 667px) {
  #about p {
    font-size: 0.9em;
    margin-top: 5px !important;

  }
}


#about span {
  color: #64ffda;
  font-weight: bold;
}

#about h4 {
  color: #64ffda;
  font-size: 15px;
}

#about ul li {
  color:#8892b0;
  font-size: 13px;

}

#about .image {
  border-color:  #64ffda !important;
  border-radius: 3px;
}

#about .img {
  margin-top: 100px;
  margin-left: 35px;
  height: 300px;
  width: 300px;
  background: url(./images/me.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  filter: contrast(100%);
}

@media screen and (max-width: 667px) {
  #about .img {
    margin-top: 30px !important;
    margin-left: 55px !important;
    height: 230px;
    width: 230px;

  }
}


#about .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Adjust the height and width values */
  width: 100%;
  background: rgba(100, 255, 218, 0.55); /* Fix the rgba color format and use a decimal value for opacity */
}

#about .overlay:hover {
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Apply transition to both opacity and transform */
}



/* Projects */

#projects {
  height: 120vh;
  margin-top: 200px;
}

#projects h5{
    color: #ccd6f6;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

@media screen and (max-width: 667px) {
  #projects .left h5 {
/*    margin-top: 30px !important;*/
    margin-left: 0px !important;
    font-size: 22px !important;

  }
}


#projects .line {
  margin-left: 375px !important;
  margin-top: -25px;
  border-color: #8892b0 !important;


}

@media screen and (max-width: 375px) {
  .right {
    border: 0;
  }
}


.proj1 img {
  display: flex;
  position: relative;
  border-radius: 5px;
  height: 390px;
  width: 590px;
  filter: grayscale(100%);
  background-position: center;
}

@media screen and (max-width: 667px) {
  .proj1 img {
    display: flex;
    align-content: center;
    margin-top: 30px !important;
    margin-left: 5px !important;
    height: 250px;
    width: 320px;
  }
}


.proj1 img:hover {
  cursor: pointer;
  filter: none;
}

#projects .right {
  margin-top: 20px;
  border-color: #8892b0 !important;
}

#projects .right h2 {
  margin-top: 110px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #64ffda;
}

@media screen and (max-width: 667px) {
  #projects .right h2 {
    margin-top: 20px !important;
    margin-left: 5px !important;
  }
}

#projects .right h3 {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  font-weight: bolder;
  color: #e6f1ff;
}

#projects .right p {
  position: absolute;
  display: flex;
  font-size: 15px;
  background-color: #112240;
  color: #a8b2d1;
} 

#projects .Tools {
  display: flex;
  justify-content: flex-end;
  margin-top: 160px;

}

@media screen and (max-width: 667px) {
  #projects .Tools {
    margin-top: 230px !important;
  }
}

#projects .Tools h1 {
  font-size: 14px !important;
  color: #a8b2d1;
}

#projects .icon {
  display: flex;
  justify-content: flex-end;
}

#projects .icon li {

  list-style-type: none;
  text-decoration: none;
  
}


#projects .icon li a i {
  color: #ccd6f6;
  text-decoration: none;
  font-size: 21px;
  
}

#projects .icon li a i:hover {
  color: #64ffda;
  
}


@media screen and (max-width: 667px) {
  #projects .right p {
    margin-right: 10px ;
    padding: 1px;
    align-items: center;
    margin-top: 20px !important;
    font-size: 0.8em;
 
  }
}


/* 2nd project */


.right2 img {
  display: flex;
  position: relative;
  border-radius: 5px;
  margin-top: 100px;
  height: 390px;
  width: 590px;
  filter: grayscale(100%);
  background-position: center;
}

@media screen and (max-width: 667px) {
  .right2 img {
    display: flex;
    align-content: center;
    margin-top: 30px !important;
    margin-left: 5px !important;
    height: 250px;
    width: 320px;
  }
}


.right2 img:hover {
  cursor: pointer;
  filter: none;
}

#projects .left2 {
  margin-top: 20px;
  border-color: #8892b0 !important;
}

#projects .left2 h2 {
  margin-top: 150px;
  font-size: 14px;
  color: #64ffda;
}

@media screen and (max-width: 667px) {
  #projects .left2 h2 {
    margin-top: 20px !important;
    margin-left: 5px !important;
  }
}

#projects .left2 h3 {
 
  font-size: 25px;
  font-weight: bolder;
  color: #e6f1ff;
}

#projects .left2 p {
  position: absolute;
  display: flex;
  font-size: 15px;
  background-color: #112240;
  color: #a8b2d1;
} 

#projects .Tools2 {
  display: flex;
  margin-top: 170px;

}

@media screen and (max-width: 667px) {
  #projects .Tools2 {
    margin-top: 200px !important;

  }
}

#projects .Tools2 h1 {
  font-size: 14px !important;
  color: #a8b2d1;
}

#projects .icon2 {
  display: flex;

}

#projects .icon2 li {

  list-style-type: none;
  text-decoration: none;
  
}


#projects .icon2 li a i {
  color: #ccd6f6;
  text-decoration: none;
  font-size: 21px;
  
}

#projects .icon2 li a i:hover {
  color: #64ffda;
  
}


@media screen and (max-width: 667px) {
  #projects .left2 p {
    margin-right: 10px ;
    padding: 1px;
    align-items: center;
    margin-top: 20px !important;
    font-size: 0.8em;
 
  }
}

/* Contact */

#contact h4 {
  margin-top: 300px;
  color: #64ffda; 
  text-align: center;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

#contact h1 {
  text-align: center;
  color: #e6f1ff; 
  font-weight: bolder;
  font-size: 45px;
  margin-top: 25px;
}


#contact p {
  margin-top: 25px;
  text-align: center;
  color: #8892b0;
}


#contact button {

  margin-top: 35px;
  margin-bottom: 300px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  color: #64ffda;
  border-color: #64ffda;;
 
 
}

#contact button a {

  list-style-type: none;
  text-decoration: none;
  color: #64ffda;
}



/*Scroll bar*/

/* width */
::-webkit-scrollbar {
  width: 6.5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #233554; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #233554; 
}